<html>
  <head>
    <title>Witaj w Ansible</title>
  </head>
  <body>
  <h1>Platforma Nginx skonfigurowana za pomocą Ansible</h1>
  <p>Jeżeli widzisz tę stronę, to znaczy, że poprawnie zainstalowałeś platformę Nginx.</p>

  <p>Strona znajduje się na serwerze {{ inventory_hostname }}</p>
  </body>
</html>

